    
.story-status {
  position: absolute;
  font-size: 100%;
  color: white;
  padding: 4px 8px 4px 8px;
  border: 1px solid white ;
  bottom: 30px;
  right: 9px;
  border-radius: 5px;
}

.story-progress{
  position: absolute;
  bottom: 10px;
  width: 95%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
}

.progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  text-align: center;
}

progress[value]::-webkit-progress-bar {
  background: transparent;
  border-radius: 2px;
  border: 1px solid white;  
}

.story-progress::-webkit-progress-value {
  background: transparent;
  background: white;
}





