.card-background-page {
    
.story-status-summary {
  display:flex;
  position: absolute;
  font-size: 100%;
  padding: 0px 0px 0px 0px;
  bottom: 80px;
  right: 800px;
}

.story-info {
  font-size: 100%;
  color: white;
  padding: 4px 8px 4px 8px;
  border: 1px solid white ;
  border-radius: 5px;
  margin-left: 5px;
}

.story-status {
  position: absolute;
  font-size: 100%;
  color: white;
  padding: 4px 8px 4px 8px;
  border: 1px solid white ;
  border-radius: 5px;
  width: 75px;
  bottom: 75px;
}

.story-priority {
  position: absolute;
  font-size: 100%;
  color: white;
  padding: 4px 8px 4px 8px;
  border: 1px solid white ;
  top: 10px;
  right: 9px;
  width: 75px;
  border-radius: 5px;
}

.story-size {
  position: absolute;
  font-size: 100%;
  color: white;
  padding: 4px 8px 4px 8px;
  border: 1px solid white ;
  top: 70px;
  right: 9px;
  width: 75px;
  border-radius: 5px;
}


.story-progress{
  position: absolute;
  bottom: 55px;
  width: 95%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
}

.progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  text-align: center;
}

progress[value]::-webkit-progress-bar {
  background: transparent;
  border-radius: 2px;
  border: 1px solid white;  
}

.story-progress::-webkit-progress-value {
  background: transparent;
  background: white;
}

.story-statistics{
    position: absolute;
    bottom: 38px;
    width: 95%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.story-statistic{
  margin: 0;
  color: white;
  text-align: center;
  text-decoration: none !important;
}

.story-statistic-label{
  margin: 0;
  text-align: center;
  text-decoration: none !important;
  color: #ccc;
}





.story-icon {
  position: absolute;
  top: 12px;
  left: 800px;
  font-size: 40px;
  color: white;
}

.story-card{
  padding: 0px 16px 0px 16px;
  
}
.story-card > header {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 100%;
  text-align: left;
}
.story-card > header > h3  {
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
  font-size: 170%;
}
.story-card > header > h5  {
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
  font-size: 110%;
}

.overlay {
    background: linear-gradient(
                    to top,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0.4)
    );
    background-blend-mode: screen;    
    bottom: 0;
    left: 0;
    position: absolute;
    right:0;
    top:0;
    z-index: auto;
}


}