<ion-header>
	<ion-navbar>
		<ion-title>
			{{(sprint)?.name}}
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="presentPopover($event)">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>






	<div class="sprint-module">
		<img src="assets/img/themes/blackboard-large.jpg" class="image-overlay" />
		<header>
			<h3>
				{{(sprint)?.name}}
			</h3>
			<h5>
				#something
			</h5>
		</header>
		<ion-icon name="sync" class="sprint-icon"></ion-icon>
		<div class="sprint-status">
			{{(sprint)?.status}}
		</div>
		<progress value="{{(sprint)?.progress}}" max="{{(sprint)?.size}}" class="sprint-progress"></progress>

	</div>



	<ion-toolbar no-border-top>
		<ion-segment [(ngModel)]="status">
			<ion-segment-button value="backlog">
				Sprint Backlog
			</ion-segment-button>
			<ion-segment-button value="burndown">
				BurnDown
			</ion-segment-button>
			<ion-segment-button value="retrospective">
				Retrospective
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>


	<div [ngSwitch]="status">
		<ion-grid>
		<ion-row>
			<ion-col width-33 style="background-color: white">
			<p class="statistic">
				<b>{{stories?.length}}</b>
				<br>
				<p class="statistic-label">Stories</p>
				</ion-col>
				<ion-col width-33>
					<p class="statistic">
						<b>4</b>
						<br>
						<p class="statistic-label">Contributors</p>
				</ion-col>
				<ion-col width-33>
					<p class="statistic">
						<b>12</b>
						<br>
						<p class="statistic-label">Followers</p>
			</ion-col>
		</ion-row>
	</ion-grid>
		<div *ngSwitchCase="'backlog'">
			<ion-list no-border>
				<ion-item (click)="navigateTocrumMaster(scrumMaster)" *ngIf="scrumMaster">
					<ion-avatar item-left>
						<ya-avatar [username]="scrumMaster?.name"></ya-avatar>
					</ion-avatar>
					<h2>{{scrumMaster?.name}}</h2>
					<p>Scrum Master</p>
				</ion-item>
				<ion-item (click)="assignScrumMaster()" *ngIf="!scrumMaster">
					<ion-avatar item-left>
						<ya-avatar [username]="'?'"></ya-avatar>
					</ion-avatar>
					<h2>Scrum Master</h2>
					<p>Please select a scrum master</p>
				</ion-item>
			</ion-list>
			<story-card [stories]="stories" [config]="cardConfig" (rightClick)="navigateToDetails($event)"></story-card>


		</div>
		<div *ngSwitchCase="'burndown'">
			<div style="display: block">
				<!--
				<canvas baseChart width="350" height="250" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
					[colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
				-->	
			</div>
		</div>
		<div *ngSwitchCase="'retrospective'">
		retro
		</div>
</div>








</ion-content>